<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head th:replace="fragments/common :: head('상품 상세페이지')">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="fragments/common :: menu('itemDetail') "></nav>
	<div class="container">
	
	
	
    <input type="text" id="itemId" th:value="${item.id}">

      <div class="d-flex">
        <div class="repImgDiv">
            <img th:src="${item.itemImgDTOList[0].imgUrl}" class = "rounded repImg_detail" th:alt="${item.itemNm}">
        </div>
        <div class="wd50">
            <span th:if="${item.itemSellStatus == T(com.myhome.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == T(com.myhome.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                품절
            </span>
            <div class="h4" th:text="${item.itemNm}"></div>
            <div>저자 - <span th:text = "${item.bookWtr}"></span></div>
            <div>출판사 - <span th:text = "${item.bookPsr}"></span></div>
            <hr class="my-4">

            <div class="text-right">
                <div class="h4 text-danger text-left">
                    <input type="hidden" th:value="${item.price}" id="price" name="price">
                    <span th:text="${item.price}"></span>원
                </div>
                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">수량</span>
                    </div>
                    <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                </div>
            </div>
            <hr class="my-4">

            <div class="text-right mgt-50">
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
            </div>
            <div th:if="${item.itemSellStatus == T(com.myhome.constant.ItemSellStatus).SELL}" class="text-right">
                <button sec:authorize="hasRole('ROLE_USER')" type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="">주문하기</button>
            </div>
            <div th:unless="${item.itemSellStatus == T(com.myhome.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
    </div>

     <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container">
            <h4 class="display-5">상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${item.itemDetail}"></p>
        </div>
    </div> 

    <div th:each="itemImg : ${item.itemImgDTOList}" class="text-center">
        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
    </div>

<h2>Book Review</h2>
		
		<!-- 리뷰게시글 부분 -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">상품명</th>
				</tr>
			</thead>
			<tbody>
				<!-- 타임리프 문법으로 반복문사용  -->
				<tr th:each="board : ${boards}">
					<th th:text="${board.id}">1</th>
					<td><a th:text="${board.title}"
						 th:href="@{/board/form(id=${board.id})}" ></a></td>
					<td th:text = "${board.user.username}">작성자이름</td>
					<td th:text = "${board.item.itemNm}">도서명</td>
				</tr>
			</tbody>
		</table>
		<!-- 페이징 처리 부분 -->
		
		<!-- 글 작성은 회원가입한 유저만 사용가능하도록 설정 -->
		<div class="text-right">
			<a type="button" class="btn btn-primary" th:href="@{/board/write(itemId=${item.id})}" sec:authorize="hasRole('ROLE_USER')">글
				작성</a>
		</div>



		
	</div>
	<footer th:replace="fragments/common :: footer"></footer>

	<script th:inline="javascript">
		$(document).ready(function() {

			calculateToalPrice();

			$("#count").change(function() {
				calculateToalPrice();
			});
		});
		// 수량 조절 시 해당 상품 주문금액 조정
		function calculateToalPrice() {
			var count = $("#count").val();
			var price = $("#price").val();
			var totalPrice = price * count;
			$("#totalPrice").html(totalPrice + '원');
		}
		// 장바구니 추가 버튼 클릭 메서드
		   function addCart(){
	        	
	            var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content"); // csrf 관련
				
	            
	            var url = "/cart"; // mapping 주소
	            var paramData = {
	                itemId : $("#itemId").val(),
	                count : $("#count").val()
	            }; // 넘길 데이터 설정

	            var param = JSON.stringify(paramData);

	            $.ajax({
	                url      : url,
	                type     : "POST",
	                contentType : "application/json",
	                data     : param,
	                beforeSend : function(xhr){
	                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
	                    xhr.setRequestHeader(header, token);
	                },
	                dataType : "json",
	                cache   : false,
	                success  : function(result, status){ // 성공 시
	                    alert("상품을 장바구니에 담았습니다.");
	                    location.href='/';
	                },
	                error : function(jqXHR, status, error){ // 에러 시

	                    if(jqXHR.status == '401'){
	                        alert('로그인 후 이용해주세요');
	                        location.href='/account/login';
	                    } else{
	                        alert(jqXHR.responseText);
	                    }

	                }
	            });
	        }
		
		
		
		
	</script>
</body>


</html>