<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('공지사항')">


</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="fragments/common :: menu('notice') "></nav>



	<div class="container">
		<h2>공지사항</h2>
		<!-- th:action="@{/board/form}" >> method 속성이 post이므로 BoardController에 @PostMapping방식으로   
		th:object="${board}" >> get매핑해서 전달받은 board 
		th:field = "*{title}" >>th:object로 전달방은 board 객체의 title 멤버 지정-->

		<form action="#" th:action="@{/notice/form}" th:object="${notice}"
			method="post">
			<input type="hidden" th:field="*{id}">
				<input type = "hidden" name = "regdate" id = "regdate"> 
			<div class="form-group">
			<!-- 제목과 글 내용은 해당 글 작성자에게만 수정 권한이 주어지도록 하며 그 외의 사용자는 readonly 속성을 줘 글읽기만 가능하도록 설정 -->
				<label for="title">제목</label> 
					<input type="text"
					class="form-control" id="title"
					th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"  th:if = "${#authentication.name} == ${notice.user.username}"
					th:field="*{title}">
					<input type="text"
					class="form-control" id="title"
					th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"  th:if = "${#authentication.name} != ${notice.user.username}" readonly="readonly"
					th:field="*{title}">

				<!-- 유효성검사 메세지 -->
				<div id="validationServer03Feedback" class="invalid-feedback"
					th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
					제목에러메세지</div>
			</div>
			<div class="form-group">
				<label for="content">글 내용</label>
				<textarea class="form-control" id="content" rows="3"
					th:if = "${#authentication.name} == ${notice.user.username}"
					th:field="*{content}"></textarea>
				<textarea class="form-control" id="content" rows="3"
				    th:if = "${#authentication.name} != ${notice.user.username}" readonly="readonly"
					th:field="*{content}"></textarea>
			</div>
			<br><br>
			<div class="text-right">
				<a class="btn btn-primary" th:href="@{/notice/list}">목록으로</a>
				<button type="submit" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">글 수정</button>
				<!-- 글 삭제 기능은 관리자와 해당 글 작성자에게만 보이도록 설정 -->
				<a class="btn btn-danger"
					sec:authorize="hasRole('ROLE_ADMIN')"
					th:href="@{/notice/delnotice(id=${notice.id})}">삭제</a>
			</div>
		</form>
	</div>
	
	
	<footer th:replace="fragments/common :: footer"></footer>
	
	<script>
		 window.onload = function(){
			                var td = new Date();                   //오늘 날짜
			                var yyyy = td.getFullYear();           //년도  
			                var mm = "년 " + (td.getMonth()+1);    //월
			                var dd = "월 " + td.getDate() + "일";   //일 

			                if(mm.length < 2) mm = "0" + mm;
			                if(dd.length < 2) dd = "0" + dd;


			                var Today = yyyy.toString() + mm + dd; 
			                document.getElementById("regdate").value = Today;
		} 
		
	</script>
</body>
</html>